@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks (optional) */
body {
  @apply bg-[radial-gradient(1000px_600px_at_10%_-10%,_rgba(199,210,254,0.2),_transparent),radial-gradient(800px_500px_at_110%_10%,_rgba(167,243,208,0.27),_transparent),#f5f7fb];
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
